<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bucket List{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/media/css/style.css"/>
</head>

<body>
    <div id="nav">
        {% block sidebar %}
        {% if user.is_authenticated %}
        <p>Welcome {{ user.username }}!</p>
        <ul>
            <li><a href="/blist/favorites/">Favorites</a></li>
            <li><a href="/blist/">My Lists</a></li>
            <li><a href="/search/">Search</a></li>
            <li><a href="/logout/">Logout</a></li>
        </ul>
        {% else %}
        <p>Please login or register!</p>
        <ul>
            <li><a href="/login/">Login</a></li>
            <li><a href="/register/">Register</a></li>
        </ul>
        {% endif%}
        {% endblock %}
    </div>

    <div id="main">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
