<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-target=".bs-navbar-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/blist/">Bucket List</a>
        </div>

        <div class="collapse navbar-collapse bs-navbar-collapse">
            {% if user.is_authenticated %}
            <div class="navbar-text">
                Hello {{ user.username }}!
            </div>
            
            <ul class='nav navbar-nav'>
                <li><a href="/blist/favorites/"><span class="glyphicon glyphicon-star"></span> Favorites</a></li>
                <li><a href="/blist/"><span class="glyphicon glyphicon-list"></span> My Lists</a></li>
                <li><a href="#"> Shared Lists</a></li>
            </ul>

            <form action="/search/" method="get" class='navbar-form navbar-left' role='search'>
                <div class='input-group'>
                    <input type='text' name='q' id='autocomplete' class='form-control' placeholder='Search'>
                    <span class='input-group-btn'>
                        <button type='submit' class='btn btn-default'><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
            {% endif %}

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                {% else %}
                <li><a href="/register/"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>