{% extends "base.html" %}

{% block title %} | {{ item.item_value }}{% endblock %}

{% block content %}

<h1>{{ item.bucket }} | {{ item.item_value }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<table>
{% if item.finish != NULL %} 
<tr>
	<td>Completed: </td>
	<td>{{ item.finish }}</td>
</tr>
{% endif %}
<tr>
	<td>URL: </td>
	<td>{{ item.item_url }}</td>
</tr>
<tr>
	<td>Description: </td>
	<td>{{ item.item_desc }}</td>
</tr>
</table>

<br><a href="{% url 'blist:edit' item.pk %}">Edit</a>
<br><a href="{% url 'blist:items' item.bucket.id %}">Back</a>

{% endblock %}
