{% extends "base.html" %}

{% block title %} | Edit {{ item.item_value }}{% endblock %}

{% block content %}

<h1>{{ item.bucket }} | Edit {{ item.item_value }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<p><b>Current Entry</b></p>
<table>
<tr>
	<td>Item Name: </td>
	<td>{{ item.item_value }}</td>
</tr>
<tr>
	<td>URL: </td>
	<td>{{ item.item_url }}</td>
</tr>
<tr>
	<td>Description: </td>
	<td>{{ item.item_desc }}</td>
</tr>
</table>

<p><b>Update Entry</b></p>

<form action="." method="post" id='edit-item-form'>
	{% csrf_token %}
	<table class="form-table">
	<tr>
    	<td>Item Name: </td>
    	<td>{{ form.item_value }}</td>
	</tr>
	<tr>
    	<td>URL (optional): </td>
    	<td>{{ form.item_url }}</td>
	</tr>
	<tr>
    	<td>Description (optional): </td>
    	<td>{{ form.item_desc }}</td>
	</tr>
	</table>
	<tr><td><input type="submit" value="Change Item" /></td></tr>
</form>

<a href="{% url 'blist:details' item.bucket.pk item.pk %}">
	<button type="button" class="btn btn-primary">
    	<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
	</button>
</a>

{% endblock %}
