{% extends "base.html" %}

{% block content %}

<h1>Favorite Lists</h1>

<div class="panel-group" role="tablist" aria-multiselectable="true">
	{% for bucket in bucket_list %}
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<a data-toggle="collapse" href="#{{ bucket.pk }}" aria-expanded="true" aria-controls="{{ bucket.pk }}"><b>{{ bucket.bl_name }}</b></a>
		</div>
		<div id="{{ bucket.pk }}" class="panel-collapse collapse in" role="tabpanel">
			<ul class='list-group'>
			{% for item in bucket.item_set.all %}
		    	<li class='list-group-item'>{% if item.finish == NULL %} 
		    			{{ item.item_value }}
		    		{% else %}
		    			<fin title="Completed: {{ item.finish }}">{{ item.item_value }}</fin>
		    		{% endif %}</li>
			{% endfor %}
			</ul>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}