{% extends "base.html" %}

{% block content %}

<h1>Lists</h1>

<table>
{% for bucket in bucket_list %}
	<tr>
		<td>{% if bucket.favorite == False %}
			<b><a href="{% url 'mod_fav_bl' bucket.pk %}" style='color:black'>&#9733;</a></b>
		{% else %}
			<b><a href="{% url 'mod_fav_bl' bucket.pk %}" style='color:gold'>&#9733;</a></b>
		{% endif %}</td>
		<td><a href="{% url 'blist:items' bucket.id %}">{{ bucket.bl_name }}</a></td>
        <td><button class='delete' oid='{{ bucket.pk }}'>&#x2717;</button></td>
	</tr>
{% endfor %}
</table>

<div class='delpop'>Are you sure you want to delete this list?</div>

<br>

<form action="." method="post" id='add-list-form'>
	{% csrf_token %}
	<table class="form-table">
	<tr>
    	<td>List Name</td>
    	<td>{{ form.bl_name }}</td>
    	<td><input type="submit" value="Add" /></td>
	</tr>
	</table>
</form>

<script>
$('.delpop').dialog({
    draggable: false,
    resizable: false,
    width: 450,
    modal: true,
    autoOpen: false,
    buttons: [
        {
            text: "Yes, delete!",
            click: function () {
                $.ajax({
                    url: '/delete_bl/' + $oid + '/', 
                    method: 'POST',
                    success: function() {
                        $('.delete[oid=' + $oid + ']').closest('tr').remove();
                    },
                    error: function() {
                        $(this).dialog('close');
                    },
                });
                $(this).dialog('close');
            }
        },
        { 
            text: "Nevermind!",
            click: function() {
                $(this).dialog('close');
            }
        }
    ]
})

$('.delete').click(function() {
    $oid = $(this).attr('oid');
    $('.delpop').dialog('open');
});
</script>

{% endblock %}