{% extends "base.html" %}

{% block title %} | {{ bucket.bl_name }}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<h1>{{ bucket.bl_name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<table>
{% for item in bucket.item_set.all %}
    <tr>
    	<td>{% if item.finish == NULL %}
    		<b><a href="{% url 'finish' item.pk %}" style='color:green'>&#x2713;</a></b> 
    		<a href="{% url 'blist:details' item.pk %}">{{ item.item_value }}</a> 
    	{% else %}
    		<a href="{% url 'blist:details' item.pk %}" style='color:green' title="Completed: {{ item.finish }}">{{ item.item_value }}</a>
    	{% endif %}</td>
    	<td><button class='edit'>EDIT</button></td>
        <td><button class='delete' oid='{{ item.pk }}'>&#x2717;</button></td>
    </tr>
{% endfor %}
</table>

<div class='delpop'>Are you sure you want to delete this item?</div>

<div class='editform'>Edit Form will go here!</div>

<div class="accordion">
<h3>Add Item</h3>
<div>
<form action="." method="post" id='add-item'>
	{% csrf_token %}
	<table class="form-table">
	<tr>
    	<td>Item Name: </td>
    	<td>{{ form.item_value }}</td>
	</tr>
	<tr>
    	<td>URL (optional): </td>
    	<td>{{ form.item_url }}</td>
	</tr>
	<tr>
    	<td>Description (optional): </td>
    	<td>{{ form.item_desc }}</td>
	</tr>
	</table>
	<tr><td><input type="submit" value="Add Item"></td></tr>
</form>
<br>
</div>
</div>

<br><a href='/blist/'>Back</a>

<!-- 
The delete item dialog works. Now I would like to add a dialog to edit the item details in a 
modal dialog. Doing this would allow me to reduce the amount of different pages that exist in
this project.

Add form has been converted into a collapsible form that exists on the page.
 -->
<script>
$('.delpop').dialog({
    draggable: false,
    resizable: false,
    width: 450,
    modal: true,
    autoOpen: false,
    buttons: [
        {
            text: "Yes, delete!",
            click: function () {
                $.ajax({
                    url: '/delete/' + $oid + '/', 
                    method: 'POST',
                    success: function() {
                        $('.delete[oid=' + $oid + ']').closest('tr').remove();
                    },
                    error: function() {
                        $(this).dialog('close');
                    },
                });
                $(this).dialog('close');
            }
        },
        { 
            text: "Nevermind!",
            click: function() {
                $(this).dialog('close');
            }
        }
    ]
})

$('.delete').click(function() {
    $oid = $(this).attr('oid');
    $('.delpop').dialog('open');
});

$('.editform').dialog({
    draggable: false,
    resizable: false,
    modal: true,
    autoOpen: false,
    buttons: [
        {
            text: 'Okay',
            click: function () {
                $(this).dialog('close')
            }
        }
    ]
})

$('.edit').click(function() {
    $('.editform').dialog('open');
});

$('.accordion').accordion({
    collapsible: true,
    active: false
});
</script>

{% endblock %}
