<tr>
    <td style="text-align:center" width="5%">
    {% if item.finish == NULL %}
        <a href="{% url 'blist:finish' bucket.pk item.pk %}" style='color:grey'>
            <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
        </a></td>
        <td width='20%'><a href="{% url 'blist:details' bucket.pk item.pk %}">{{ item.item_value }}</a></td>
    {% else %}
        <a href="{% url 'blist:finish' bucket.pk item.pk %}" style='color:green'>
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span> 
        </a></td>
        <td width='20%'><a href="{% url 'blist:details' bucket.pk item.pk %}" style='color:green' data-placement="right" data-toggle="tooltip" title="Completed: {{ item.finish }}">{{ item.item_value }}</a></td>
    {% endif %}

    <td width='25%'>
        <a href="#" class="iurl" data-pk="{{ item.pk }}" data-url="{% url 'blist:xu_url' item.bucket.pk item.pk %}" data-type="url" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ item.item_url }}</a>
    </td>

    <td width='45%'>
        <a href="#" class="idesc" data-pk="{{ item.pk }}" data-url="{% url 'blist:xu_desc' item.bucket.pk item.pk %}" data-type="textarea" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ item.item_desc }}</a>
    </td>

    <td width="5%" style='text-align:center'>
        <span class="glyphicon glyphicon-trash delete" aria-hidden="true" data-toggle="modal" data-target="#delete" oid='{{ item.pk }}' bid='{{ item.bucket.pk }}' style='color:#A34747;cursor:pointer;font-size:16px'></span>
    </td>
</tr>