{% extends "base.html" %}

{% block title %} | {{ bucket.bl_name }}{% endblock %}

{% block content %}

<h1>{{ bucket.bl_name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<ul>
{% for item in bucket.item_set.all %}
    <li><a href="{% url 'blist:details' item.id %}">{{ item.item_value }}</a> <b><a href="{% url 'delete_item' item.pk %}" style='color:red'>X</a></b></li>
{% endfor %}
</ul>

<form action="." method="post" id='add-item-form'>
	{% csrf_token %}
	<table class="form-table">
	<tr>
    	<td>{{ form.item_value }}</td>
    	<td><input type="submit" value="Add Item" /></td>
	</tr>
	</table>

</form>

<br><a href='/blist/'>Back</a>

{% endblock %}