<tr>
    <td style="text-align:center" width="5%">
    {% if item.finish == none %}
        <a href="javascript:void(0);" oid='{{ item.pk }}' fin='0'>
            <span class="glyphicon glyphicon-unchecked finish" aria-hidden="true" oid='{{ item.pk }}' bid='{{ item.bucket.pk }}'></span>
        </a></td>
        <td width='20%'><a href="{% url 'blist:details' bucket.pk item.pk %}">{{ item.item_value }}</a></td>
    {% else %}
        <a href="javascript:void(0);" oid='{{ item.pk }}' fin='1'>
            <span class="glyphicon glyphicon-check finish" aria-hidden="true" oid='{{ item.pk }}' bid='{{ item.bucket.pk }}' data-placement="left" data-toggle="tooltip" title="Completed: {{ item.finish }}"></span> 
        </a></td>
        <td width='20%'><a href="{% url 'blist:details' bucket.pk item.pk %}">{{ item.item_value }}</a></td>
    {% endif %}

    <td width='25%'>
        {% if item.item_url %}
        <div class='eurl'>
            <a href='{{ item.item_url }}' target='_blank'><span class="iurl" data-pk="{{ item.pk }}" data-url="{% url 'blist:xu_url' item.bucket.pk item.pk %}" data-type="url" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" data-emptytext='No URL'>{{ item.item_url|truncatechars:20 }}</span></a> <span class='glyphicon glyphicon-pencil pull-right editurl'></span>
        </div>
        {% else %}
        <div class='eurl'>
            <span class="iurl" data-pk="{{ item.pk }}" data-url="{% url 'blist:xu_url' item.bucket.pk item.pk %}" data-type="url" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" data-emptytext='No URL'></span> <span class='glyphicon glyphicon-pencil pull-right editurl'></span>
        </div>
        {% endif %}
    </td>

    <td width='45%'>
        <a href="#" class="idesc" data-pk="{{ item.pk }}" data-url="{% url 'blist:xu_desc' item.bucket.pk item.pk %}" data-type="textarea" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" data-emptytext='No description'>{{ item.item_desc }}</a>
    </td>

    <td width="5%" style='text-align:center'>
        <span class="glyphicon glyphicon-trash delete" aria-hidden="true" data-toggle="modal" data-target="#delete" oid='{{ item.pk }}' bid='{{ item.bucket.pk }}'></span>
    </td>
</tr>