{% extends "base.html" %}

{% block title %} | Search {{ query }}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="panel panel-default">
	<div class="panel-heading"><h4>Search</h4></div>

	<div class='panel-body'>
		{% if error %}
		<div class="alert alert-danger" role="alert">
			<p>Please enter a search term.</p>
		</div>
		{% endif %}

		{% if query != NULL %}
			<p>Results for {{ query }}.</p>
		{% endif %}

		{% if items %}
			<div class="alert alert-success" role="success">
				<p>Found {{ items|length }} item{{ items|pluralize }}</p>
			</div>
				<ul class='list-group'>
					{% for item in items %}
					<li class='list-group-item'>{% if item.finish == none %}
		    				<span class="glyphicon glyphicon-unchecked finish" aria-hidden="true"></span> 
		    				<a href="{% url 'blist:details' item.bucket.pk item.pk %}">{{ item.item_value }}</a> 
		    			{% else %}
		    				<span class="glyphicon glyphicon-check finish" aria-hidden="true" data-placement="left" data-toggle="tooltip" title="Completed: {{ item.finish }}"></span> 
		    				<a href="{% url 'blist:details' item.bucket.pk item.pk %}">{{ item.item_value }}</a> 
		   		    	{% endif %} - in list <a href="{% url 'blist:items' item.bucket.id %}">{{ item.bucket }}</a></li>
					{% endfor %}
				</ul>
		{% else %}
			<div class="alert alert-danger" role="alert">
				<p>No items matched your search criteria</p>
			</div>
		{% endif %}	
	</div>
</div>

<script>
var ivals = {{ source|safe }};

$("#autocomplete").autocomplete({
	source: ivals
});
</script>

{% endblock %}
