{% extends "base.html" %}

{% block title %} | Search {{ query }}{% endblock %}

{% block head %}
<!--
On this page I want to add an autocomplete feature just to test it out. I want to be able to set the 
source to be all items whose bucket.owner matches the current user.
I believe I can pass that through the view context using something like:
source = Item.objects.filter(bucket__owner=request.user)

And then passing it to here in the context as 'source':source. Now to link it here: {{ source }} 
but the value seems to take a the array of single pair dictionaries including the brackets.
-->
<script>
	$("#autocomplete").autocomplete({
		source: {{ source }}
	});
</script>
{% endblock %}
{% block content %}

<h1>Search</h1>

<form action="" method="get">
    <label for 'autocomplete'>Search for: </label>
    <input type="text" name="q" id='autocomplete'>
    <input type="submit" value="Find">
</form>

{% if error %}<p style="color: red">Please enter a value.</p>{% endif %}

	<p>Search results for {{ query }}.</p>


{% if items %}
	<p>Found {{ items|length }} item{{ items|pluralize }}.</p>
		<ul>
			{% for item in items %}
			<li>{% if item.finish == NULL %}
    				<a href="{% url 'blist:details' item.bucket.pk item.pk %}">{{ item.item_value }}</a> 
    			{% else %}
    				<a href="{% url 'blist:details' item.bucket.pk item.pk %}" style='color:green'>{{ item.item_value }}</a> 
   		    	{% endif %} - in list <a href="{% url 'blist:items' item.bucket.id %}">{{ item.bucket }}</a></li>
			{% endfor %}
		</ul>
{% else %}
	<p>No items matched your search criteria.</p>
{% endif %}

{% endblock %}
