<tr>
    <td style="text-align:center" width="5%">
    {% if item.finish == none %}
        <a href="javascript:void(0);" oid='{{ item.pk }}' fin='0'>
            <span class="glyphicon glyphicon-unchecked finish" aria-hidden="true" oid='{{ item.pk }}' bid='{{ item.bucket.pk }}'></span>
        </a></td>
        <td width='90%'><a href="{% url 'blist:shared_detail' bucket.pk item.pk %}">{{ item.item_value }}</a></td>
    {% else %}
        <a href="javascript:void(0);" oid='{{ item.pk }}' fin='1'>
            <span class="glyphicon glyphicon-check finish" aria-hidden="true" oid='{{ item.pk }}' bid='{{ item.bucket.pk }}' data-placement="left" data-toggle="tooltip" title="Completed: {{ item.finish }}"></span> 
        </a></td>
        <td width='90%'><a href="{% url 'blist:shared_detail' bucket.pk item.pk %}">{{ item.item_value }}</a></td>
    {% endif %}

    <td width="5%" style='text-align:center'>
        <span class="glyphicon glyphicon-trash delete" aria-hidden="true" data-toggle="modal" data-target="#delete" oid='{{ item.pk }}' bid='{{ item.bucket.pk }}'></span>
    </td>
</tr>